.button {
    border-radius: 60px;
    border: none;
    color: var(--dark);
    font: var(--copy16);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
}

.button--primary {
    background-color: var(--lime);
}

.button--secondary {
    background-color: var(--olive);
    color: var(--cream);
}

.button--small {
    font: var(--copy12);
}
